<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @announcement.author %>
</p>

<p>
  <b>Content:</b>
  <%= @announcement.content %>
</p>

<p>
  <b>Formatted Text:</b>
  <%= @announcement.formatted_text.html_safe %>
</p>



<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
