<h3>Comments</h3>

<ul id="comments">
  <% f.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</ul>

<%= form_tag comments_path, remote: true do %>
    Comment: <%= text_area_tag :content %>
  <%= hidden_field_tag :source, "#{current_user.initials}" %>
    <%= hidden_field_tag "#{f.class.to_s}_id", f.id %>
    <%= submit_tag "Add comment", class: "btn btn-primary", disable_with: 'Wait...' %>
<% end %>