<h3>Comments</h3>  
  
<ul id="comments">  
  <% f.object.comments.each do |comment| %>  
    <li><%= comment.content %><br/><%= "by #{comment.source} on #{comment.created_at}" %></li>  
  <% end %>  
</ul>  
 
<%= f.fields_for :comments, Comment.new do |form| %>  
	<%= form.text_area :content, :rows => 3 %>
  <%= form.hidden_field :source, :value => "#{current_user.initials}" %>
	<%= submit_tag "Add comment" %>
<% end %>