<div class="span3"><%= person.name || " " %></div>
<div class="span3"><%= person.phone || "-none-" %></div>
<div class="span4">
    <%= link_to 'Show', person %>
    | <%= link_to 'Edit', edit_person_path(person) %>
    | <%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></div>
<br />