<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %> <%= "(#{@user.initials})" unless @user.initials.blank? %>
			</h1>
			<%= link_to "Edit Profile / Change Password", edit_user_path(@user)%>
		</td>
		<td class="sidebar round" rowspan=2>
			<strong>Name</strong>	<%= @user.name %><br />
			<strong>URL</strong> 	<%= link_to user_path(@user), @user %><br />
		</td>
	</tr>
	<tr>
		<td class="main">
			Watched Opportunities
			<table>
				<thead>
					<tr>
						<th>Opportunity</th>
					</tr>
				</thead>
				<tbody>
					<% @user.opportunities.each do |opp| %>
						<tr>
							<td><%= link_to opp.program, opportunity_path(opp) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</td>
	</tr>
</table>
			