<% if user_signed_in? %>
<div class="dashboard column span-24 last">
	<%= portlet :announcements %>
</div>
<div class="dashboard column span-8">
	<%= portlet :upcoming_opportunities %>
	<% if current_user.bd? %>
		<%= portlet :my_upcoming_opportunities %>
		<%= portlet :my_unawarded_opportunities_by_input_status %>
	<% else %>
		<%= portlet :recently_updated_opportunities %>
	<% end %>
</div>
<div class="dashboard column span-16 last">
	<%= portlet :opportunities_by_department %>
	
</div>
<div class="clearfix"></div>

<% else %>
 <h1><%= link_to "Login", login_path %></h1>
<% end %>
