<a class="btn" data-toggle="modal" data-target="#opportunity-filter" data-backdrop="true" >Search Filters</a>
<div id="opportunity-filter" class="modal hide">
    <%= form_tag filter_opportunities_path do %>
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <%= content_tag(:h3, link_to("Filters and Search#{' [Filtered]' unless @filters.empty? && @owner_filters.empty? && @searchstring.empty?}",'#')) %>
       Search: <%= search_field_tag 'search', @searchstring %>
       <%= submit_tag 'Search', :name => 'button_action', class: "btn btn-primary"%> <%= submit_tag 'Clear', :name => 'button_action', class: "btn"%>
    </div>
    <div class="modal-body">
        <fieldset>
        <%= hidden_field_tag "my", "true" if params[:my]%>
        <div class="tabbable">
            <ul class="nav nav-pills">
                <li class="active"><a href="#departments-filter" data-toggle="pill">Department</a></li>
                <li><a href="#input-status-filter" data-toggle="pill">INPUT Status</a></li>
                <li><a href="#capture-phase-filter" data-toggle="pill">Capture Phase</a></li>
                <li><a href="#capture-staff-filter" data-toggle="pill">Capture Staff</a></li>
                <li><a href="#agency-filter" data-toggle="pill">Agency</a></li>
           </ul>

            <div class="pill-content">
                <div id="departments-filter" class="pill-pane active">
                    <div class="controls">
                        <% group_count = 2 %>
                        <% @departments.in_groups(group_count,false).each do |group| %>
                            <div class="span3">
                                <% group_count -= 1 %>
                                <% group.each do |dept| %>
                                    <label class="checkbox">
                                        <%= check_box_tag "filters[department][]", dept.department, @dept_filters.include?(dept.department) %>
                                        <%= dept.department %>
                                    </label>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div id="input-status-filter" class="pill-pane">
                    <div class="controls">
                    <% @input_statuses.each do |stat| %>
                        <label class="checkbox">
                            <%= check_box_tag "filters[input_status][]", stat.input_status, @input_status_filters.include?(stat.input_status) %>
                            <%= stat.input_status %>
                        </label>
                    <% end %>
                    </div>
                </div>
                <div id="capture-phase-filter" class="pill-pane controls">
                    <% @capture_phases.each do |phase| %>
                        <label class="checkbox">
                            <%= check_box_tag "filters[capture_phase][]", phase, @capture_phase_filters.include?(phase) %>
                            <%= phase.humanize %>
                        </label>
                    <% end %>
                </div>
                <div id="capture-staff-filter" class="pill-pane controls">
                    <div class="control-group">
                        <label class="control-label">Staff</label>
                        <div class="controls">
                            <% @owners.each do |owner| %>
                                <label class="checkbox">
                                    <%= check_box_tag "owners[owner_id][]", owner.id.to_s, @owner_filters.include?(owner.id.to_s) %>
                                    <%= "#{owner.name} (#{owner.initials})" %>
                                </label>
                            <% end %>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Priority</label>
                        <div class="controls">
                            <% Opportunity::PRIORITIES.each do |label, value| %>
                                <label class="checkbox">
                                    <%= check_box_tag "filters[priority][]", value, @priority_filters.include?(value.to_s) %>
                                    <%= label %>
                                </label>
                            <% end %>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Pipeline Review</label>
                        <div class="controls">
                            <label class="checkbox">
                                <%= check_box_tag "pipeline_review", "true", @show_pipeline %>
                                Pipeline Review
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Exclude</label>
                        <div class="controls">
                              <% Opportunity::OUTCOMES.each do |value| %>
                                <label class="checkbox">
                                    <%= check_box_tag "exclusions[outcome][]", value, @outcome_exclusions.include?(value) %>
                                    <%= value.titleize %>
                                </label>
                              <% end %>
                        </div>
                    </div>
                </div>
                <div id="agency-filter" class="pill-pane">
                    <% @agencies.each do |agency| %>
                        <label class="checkbox">
                            <%= check_box_tag "filters[agency][]", agency.agency, @agency_filters.include?(agency.agency) %>
                            <%= agency.agency %>
                        </label>
                    <% end %>
                </div>
           </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <label class="checkbox">
            <%= check_box_tag "ignore", "ignore", @show_ignored %>
            Include Ignored/Deleted Records
        </label>
        <%= submit_tag 'Search', :name => 'button_action', class: "btn btn-primary"%> <%= submit_tag 'Clear', :name => 'button_action', class: "btn"%>
    </div>
    <% end %>
</div>
