<div id="opportunity-filter" class="accordion-collapsible span-24 last checkboxes">
<h3><a href="#">Filters</a></h3>
<div><%= form_tag filter_opportunities_path do %>
	<%= hidden_field_tag "my", "true" if params[:my]%>
	<div class="span-10 last">
	<%= submit_tag "Apply Filters" %>
	</div>
	<div class="column span-8 border clear">
		<div class="span-8"><b><i>Department</b></i></div>
		<% group_count = 2 %>
		<% @departments.in_groups(group_count,false).each do |group| %>
			<% group_count -= 1 %>
			<div class="span-4 <%= "last" if group_count == 0 %>">
			<% group.each do |dept| %>
				<label><%= check_box_tag "filters[department][]", dept.department, @dept_filters.include?(dept.department) %> <%= dept.department %></label><br />
			<% end %>
			</div>
		<% end %>
	</div> 
	<div class="span-4 border">
		<b><i>INPUT Status</b></i><br />
		<% @input_statuses.each do |stat| %>
			<label><%= check_box_tag "filters[input_status][]", stat.input_status, @input_status_filters.include?(stat.input_status) %> <%= stat.input_status %></label><br />
		<% end %>
	</div>
	<div class="span-4 border">
		<b><i>Capture Phase</b></i><br />
		<% @capture_phases.each do |phase| %>
			<label><%= check_box_tag "filters[capture_phase][]", phase, @capture_phase_filters.include?(phase) %> <%= phase.humanize %></label><br />
		<% end %>
	</div>	
	<div class="span-6 last">
		<b><i>Capture/Business Development</b></i><br />
		<% @owners.each do |owner| %>
			<label><%= check_box_tag "filters[owner_id][]", owner.id.to_s, @owner_filters.include?(owner.id.to_s) %> <%= "#{owner.name} (#{owner.initials})" %></label><br />
		<% end %>
	</div>
	<div class="span-22 last prepend-top border clear"><b><i>Agency</b></i></div>
		<% group_count = 3 %>
		<% @agencies.in_groups(group_count,false).each do |group| %>
			<% group_count -= 1 %>
			<div class="span-7 <%= "last" if group_count == 0 %>">
			<% group.each do |agency| %>
				<label class="checkbox-label"><%= check_box_tag "filters[agency][]", agency.agency, @agency_filters.include?(agency.agency) %> <%= agency.agency %></label><br />
			<% end %>
		</div>
	<% end %>
	<% end %>
</div>
</div>