<%= simple_form_for @opportunity, html: {class: "form-stacked"} do |f| %>
    <% if @opportunity.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:
            </h2>
            <ul>
                <% @opportunity.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row-fluid">
        <div class="span4">
            <%= field_set_tag "Program" do %>
                <%= f.input :acronym %>
                <%= f.input :program, input_html: {rows: 3, cols: 24} %>
                <%= f.input :department %>
                <%= f.input :agency %>
                <%= f.input :location %>
            <% end %>

            <%= field_set_tag "Contract" do %>
                <%= f.input :contract_type, label: "Contract Type" %>
                <%= f.input :contract_length, label: "Contract Len." %>
                <%= f.input :vehicle, label: "Vehicle", collection: Opportunity::VEHICLES.sort %>
                <%= f.input :total_value, as: :string, label: "Total Contract Value" %>
            <% end %>

            <%= field_set_tag 'Service Types' do %>
                <% for s in Opportunity::SERVICES %>
                <label class="checkbox inline">
                <%= check_box_tag "opportunity[services][]", s, @opportunity.services.include?(s) %>
                <%=h s.titleize %>
                </label>
                <% end %>
                <%= hidden_field_tag "opportunity[services][]", "" %>
            <% end %>

        </div>
        <div class="span4">
            <%= field_set_tag "Solicitation" do %>
                <%= f.input :solicitation, label: "Solicitation #" %>
                <%= f.input :solicitation_type, label: "Solic. Type" %>
                <%= f.input :solicitation_source, label: "Source", collection: Opportunity::SOURCES %>
                <%= f.input :rfp_release_date, label: "RFP Release", input_html: {class: "datepicker"} %>
                <%= f.input :rfp_due_date, label: "RFP Due", input_html: {class: "datepicker"} %>
                <%= f.input :award_date, label: "Award Date", input_html: {class: "datepicker"} %>
                <%= f.input :acquisition_url, as: :string, label: "URL" %>
            <% end %>
        </div>
        <div class="span4">

            <%= field_set_tag "Prime" do %>
                <%= f.input :prime %>
            <% end %>

            <%= field_set_tag 'Capture' do %>
                <%= f.association :registered_by, collection: @owners, label: "Registered by", disabled: !@opportunity.registered_by_id.nil? && !current_user.can_change_registration?(@opportunity) %>
                <%= f.association :business_developer, collection: @bders, label: "Business Developer" %>
                <%= f.association :capture_manager, collection: @owners, label: "Capture Manager" %>
                <%= f.input :capture_phase, label: "Phase", collection: Opportunity::PHASES, member_label: :humanize %>
                <%= f.input :priority, label: "Priority", collection: Opportunity::PRIORITIES %>
                <%= f.input :win_probability, as: :string, label: "Win Prob.", input_html: {size: 5} %>
                <label class="checkbox inline">
                    <%= hidden_field_tag "opportunity[pipeline_review]", "" %>
                    <%= check_box_tag "opportunity[pipeline_review]", true, @opportunity.pipeline_review %>
                    Pipeline Review
                </label>
           <% end %>
        </div>
      </div>
    <div class="row-fluid">
        <div class="span8">
            <%= field_set_tag 'Description' do %>
                <%= f.input :description, input_html: {rows: 5, class: "span-two-thirds"} %>
                <%= f.input :customer_problem, input_html: {rows: 5, class: "span-two-thirds"} %>
                <%= f.input :approach, input_html: {rows: 5, class: "span-two-thirds"} %>
            <% end %>
        </div>
        <div class="span4">
            <%= field_set_tag "Expected Revenue" do %>
                <%= f.input :our_value, label: "QBE Value" %>
                <%= f.input :percent_profit %>
                <%= f.input :number_of_FTEs, label: "Number of FTEs" %>
            <% end %>
            <%= field_set_tag "GovWin IQ" do %>
                <%= f.input :input_opportunity_number, as: :string, label: "GovWin IQ id" %>
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        <span class="input uneditable-input"><%= @opportunity.input_status %></span>
                    </div>
                </div>
            <% end %>
            <%= field_set_tag "Outcome" do %>
                <%= f.input :outcome, collection: Opportunity::OUTCOMES, member_label: :humanize %>
                <div id="opportunity_outcome_text_div">
                    <%= f.input :outcome_text, as: :text, label: "Outcome Description", input_html: {rows: 5} %>
                </div>
            <% end %>
        </div>

    </div>
    <div class="well" %>
        <%= f.button :submit, class: "btn btn-primary", disable_with: 'Wait...'%>
    </div>
<% end %>
<% unless @opportunity.new_record? %>
    <ul class="nav nav-tabs" id="opportunity-tabs">
        <li class="active"><a href="#comments-tab" data-toggle="tab">Comments</a></li>
        <li><a href="#tasks-tab" data-toggle="tab">Tasks</a></li>
        <li><a href="#input-tab" data-toggle="tab">GovwinIQ</a></li>
        <li><a href="#teaming-tab" data-toggle="tab">Teaming</a></li>
        <li><a href="#history-tab" data-toggle="tab">History</a></li>
        <li><a href="#capture-tab" data-toggle="tab">Capture</a></li>
        <li><a href="#proposal-tab" data-toggle="tab">Proposal</a></li>
    </ul>
    <div class="tab-content">
        <div id="comments-tab" class="tab-pane fade active in">
            <%= render 'comments/comments', f: @opportunity %>
        </div>
        <div id="tasks-tab" class="tab-pane fade">
            <%= render 'tasks/tasks', f: @opportunity %>
        </div>
        <div id="input-tab" class="tab-pane fade">
            <% if @opportunity.input_record.nil? %>
                No INPUT data
            <% else %>
                <%= render 'show_input_data', o: @opportunity.input_record %>
            <% end %>
        </div>
        <div id="teaming-tab" class="tab-pane fade">
            Teaming
        </div>
        <div id="history-tab" class="tab-pane fade">
            History
        </div>
    </div>
<% end %>