<%= simple_form_for(@opportunity) do |f| %>
	<% if @opportunity.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@opportunity.errors.count, "error") %> prohibited this opportunity from being saved:
			</h2>
			<ul>
				<% @opportunity.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="column span-8 border">
		<%= f.input :acronym %>
		<%= f.input :program, :as => :text, :input_html => {:rows => 3, :cols => 24} %>
		<%= f.input :department %>
		<%= f.input :agency %>
		<%= f.input :prime %>
		<%= f.input :location %>
		<%= f.input :contract_type, :label => "Contract Type" %>
		<%= f.input :contract_length, :label => "Contract Len." %>
		<%= f.input :total_value, :as => :string, :label => "Total Value" %>
		<%= f.input :our_value, :label => "IntePros Value", :input_html => {:size => 10}%>
	</div>
	<div class="column span-16 last append-bottom">
		<div class="column span-10 border">
			<%= f.input :solicitation_type, :label => "Solic. Type" %>
			<%= f.input :rfp_release_date, :as => :string, :label => "RFP Release", :input_html => {:class => "datepicker"} %>
			<%= f.input :rfp_due_date, :as => :string, :label => "RFP Due", :input_html => {:class => "datepicker"} %>
			<%= f.input :award_date, :as => :string, :label => "Award Date", :input_html => {:class => "datepicker"} %>
			<%= f.input :acquisition_url, :as => :string, :label => "URL" %>
			<%= f.input :input_opportunity_number, :as => :string, :label => "INPUT id" %>
			<%= f.input :input_status, :label => "INPUT status", :input_html => {:readonly => true} %>
		</div>
		<div class="column span-6 last">
			<%= f.association :owner, :collection => @owners, :label => "Owner" %>
			<%= f.input :capture_phase, :label => "Phase", :collection => Opportunity::PHASES, :label_method => :humanize %>
			<%= f.input :win_probability, :as => :string, :label => "Win Prob.", :input_html => {:size => 5} %>
			<%= f.input :outcome, :collection => Opportunity::OUTCOMES, :label_method => :humanize %>
		</div>
		<div class="column span-16 clear last">
			<%= f.input :description, :input_html => {:rows => 5, :cols => 64} %>
		</div>
	</div>
	<div class="clear append-bottom">
		<%= f.submit "Save" %>
	</div>

	<div id="tabs">
		<ul>
			<li><a href="#comments-tab">Comments</a></li>
			<li><a href="#input-tab">INPUT</a></li>
			<li><a href="#teaming-tab">Teaming</a></li>
			<li><a href="#history-tab">History</a></li>
			<li><a href="#capture-tab">Capture</a></li>
			<li><a href="#proposal-tab">Proposal</a></li>
		</ul>
		<div id="comments-tab">
			<%= render 'comments/comments', :f => f %>
		</div>
		<div id="input-tab">
			<% if @opportunity.input_record.nil? %>
				No INPUT data
			<% else %>
				<%= render 'show_input_data', :o => @opportunity.input_record %>
			<% end %>
		</div>
		<div id="teaming-tab">
			Teaming
		</div>
		<div id="history-tab">
			History
		</div>
	</div>
	
<% end %>