<tr>
	<td><%= opportunity.acronym %></td>
	<td><%= opportunity.program %><br/>
	<%= opportunity.department %><br/>
	<%= opportunity.agency %></td>
	<td><%= opportunity.description %></td>
  <td><%= link_to 'Show', opportunity, :remote => true, :class => "ui-icon ui-icon-info", :title => "Show" %> 
  <%= link_to 'Edit', edit_opportunity_path(opportunity), :class => "ui-icon ui-icon-pencil", :title => "Edit" %> 
  <%= link_to 'Destroy', opportunity, :confirm => 'Are you sure?', :method => :delete, :class => "ui-icon ui-icon-trash", :title => "Destroy" %></td>
</tr>