<h2><%= @opportunity.program %></h2>
<p>
Department: <%= @opportunity.department %><br />
Agency: <%= @opportunity.agency %><br />
Description: <%= @opportunity.description %><br />
Location: <%= @opportunity.location %><br />
Input Opportunity ID: <%= link_to_unless @opportunity.input_record_id.nil?,
				@opportunity.input_record_id, input_opportunity_url(@opportunity.input_record_id),
				:target => "_blank" %><br />
Total Value: <%= @opportunity.total_value %><br />
Win Probability: <%= @opportunity.win_probability %><br />
Contract Length: <%= @opportunity.contract_length %><br />
Solicitation Type: <%= @opportunity.solicitation_type %><br />
Contract Type: <%= @opportunity.contract_type %><br />
RFP Release Date: <%= @opportunity.rfp_release_date %><br />
RFP Due Date: <%= @opportunity.rfp_due_date %><br />
Award Date: <%= @opportunity.award_date %><br />
Prime: <%= @opportunity.prime %><br />
Capture Phase: <%= @opportunity.capture_phase %><br />
Business Developer (ID): <%= @opportunity.business_developer.initials unless @opportunity.business_developer.nil? %><br />
Latest Comments: <%= @opportunity.comments.last.content unless @opportunity.comments.last.nil? %><br />
Created At: <%= @opportunity.created_at %><br />
Updated At: <%= @opportunity.updated_at %>
</p>