<div class="dashboard column span-8">
	<%= portlet :upcoming_opportunities %>
	<% if current_user.bd? %>
		<%= portlet :my_upcoming_opportunities %>
		<%= portlet :my_unawarded_opportunities_by_input_status %>
	<% else %>
		<%= portlet :recently_updated_opportunities %>
	<% end %>
</div>
<div class="dashboard column span-16 last">
  <%= portlet :unawarded_opportunities_by_capture_phase %>
  <%= portlet :my_unawarded_opportunities_by_capture_phase %>
</div>
<div class="clearfix"></div>

