Record #: <%= @opportunity.id %> | Created: <%= @opportunity.created_at %> | Modified: <%= @opportunity.updated_at %>
<h1><%= @opportunity.program %><%= ' (' + @opportunity.acronym + ')' unless @opportunity.acronym.blank? %></h1>
<p><%= link_to 'Destroy', @opportunity, :confirm => 'Are you sure?', 
		:method => :delete, :title => "Destroy" %> | 
	<% c = @opportunity.watched_by?(current_user) ? "Unwatch" : "Watch" %>
	<%= link_to c, watch_opportunity_path(@opportunity), 
		:method => :post %> | 	
	<%= link_to 'Back', redirect_back_or_to(opportunities_path) %>
	<span class="navigation">
		<% if session[:opportunity_id_list] && session[:opportunity_id_list].index(@opportunity.id) %>
			<%= first_opportunity_link(@opportunity.id)%> |
			<%= previous_opportunity_link(@opportunity.id) %> | 
			<%= next_opportunity_link(@opportunity.id)%> |
			<%= last_opportunity_link(@opportunity.id)%>
		<% end %>
	</span>
</p>

<%= render 'form' %>

