<%= render :partial => 'filters' %>

<%= content_tag("h3","Filtered!") unless session[:filters].empty? %>
<%= will_paginate @opportunities, :class =>"span-24 last" %>
<table class="opportunities">
	<thead>
	  <tr>
		<th class='icons'></th>
	    <th><%= sortable "acronym" %></th>
	    <th><%= sortable "program", "Program Name" %><br/>
	    	<%= sortable "department" %>/<%= sortable "agency" %></th>
	    <th>Description</th>
		<th><%= sortable "input_record_id", "INPUT" %></th>
		<th><%= sortable "input_status", "INPUT Status" %></th>
		<th><%= sortable "total_value", "Value" %></th>
		<th><%= sortable "rfp_release_date", "RFP Release" %></th>
		<th><%= sortable "capture_phase", "Phase" %></th>
		<th><%= sortable "users.initials", "BD" %></th>
	  </tr>
	</thead>
	<tbody>
  	<%= render @opportunities %>
	</tbody>
</table>
<%= will_paginate @opportunities %>
<br />

<%= button_to 'New Opportunity', new_opportunity_path, :method => :get %>
