<%= link_to "Import", import_input_records_path %> | <%= link_to "Merge", merge_input_records_path, :confirm => 'Are you sure?', :method => :put %>

<table>
	<thead>
	  <tr>
		<th>Acronym</th>
		<th>Title</th>
	    <th></th>
	  </tr>
	</thead>

	<tbody>
	<% @input_records.each do |input_record| %>
	  <tr class="<%= cycle("odd","even") %>">
		<td><%= input_record.acronym %></td>
		<td><%= link_to input_record.title, input_record.input_url, :target => "_blank" %><br/>
		<%= input_record.organization %></td>
	  <td><%= link_to 'Show', input_record, :class => "ui-icon ui-icon-info", :title => "Show" %> 
	  <%= link_to 'Edit', edit_input_record_path(input_record), :class => "ui-icon ui-icon-pencil", :title => "Edit" %> 
	  <%= link_to 'Destroy', input_record, :confirm => 'Are you sure?', :method => :delete, :class => "ui-icon ui-icon-trash", :title => "Destroy" %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />