<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<!-- <%= hoptoad_javascript_notifier %> -->
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag 'jquery.min',
			'jquery-ui-1.8.10.custom.min',
			'jquery.wijmo-open.1.1.3.min',
			#'highcharts/highcharts.src',
			#'highcharts/modules/exporting',
			'highcharts',
			'rails',
			'application' %>
	<%= csrf_meta_tag %>
</head>
<body class="container">
		<%= render 'layouts/header' %>
		<section>
				<%= render 'layouts/menu' %>

				<% flash.each do |key, msg| %>
				    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
				    <%= content_tag :script, :type => "text/javascript" do -%>
				        setTimeout("$('#notice_<%= key %>').slideUp('slow');", 5000);
				    <% end %>
				<% end %>
 
				<%= yield %>
		</section>
</body>
</html>
