<!DOCTYPE html>
<html>
<head>
	<title>Contrac</title>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
</head>
<body>
	<ul class="tabs">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Opportunities", opportunities_path %></li>
		<li><a href="#tabs-2">Programs</a></li>
		<li><a href="#tabs-3">Other Stuff</a></li>
	</ul>
	<%= yield %>

</body>
</html>
