<!DOCTYPE html>
<html>
<head>
    <title><%= @title %></title>
    <!-- <%= hoptoad_javascript_notifier %> -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'application-screen', :media => 'screen' %>
<!--    <%= stylesheet_link_tag 'application-print', :media => 'print' %> -->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <style type="text/css">
          body {
            padding-top: 60px;
          }
        </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "CONtrack", root_path, class: "brand" %>
          <ul class="nav" data-dropdown="dropdown">
            <li class="<%= is_active_tab?(:pages)%>"><%= link_to "Home", root_path %></li>
                <% if logged_in? %>
                    <li class="<%= is_active_tab?(:opportunities)%> dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Opportunities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Dashboard", dashboard_opportunities_path %></li>
                            <li><%= link_to "All Opportunities", all_opportunities_path %></li>
                            <% if current_user.capture? %>
                                <li><%= link_to "My Opportunities", my_opportunities_path %></li>
                            <% end %>
                            <li><%= link_to "Calendar", calendar_opportunities_path %></li>
                            <li><%= link_to "Export", export_opportunities_path + ".xml" %></li>
                        </ul>
                    </li>
                    <li><%= link_to "Tasks", tasks_path %></li>
                    <li class="<%= is_active_tab?(:companies)%> dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Contacts<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Companies", companies_path %></li>
                            <li><%= link_to "People", people_path %></li>
                        </ul>
                    </li>
                    <% if current_user.admin? %>
                        <li class="<%= is_active_tab?(:reports,:input_records,:announcements,:users,:admin)%> dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Reports", reports_select_path %></li>
                                <li><%= link_to "Input", input_records_path %></li>
                                <li><%= link_to "Announcements", announcements_path %></li>
                                <li><%= link_to "Users", users_path %></li>
                                <li><%= link_to "Notify", admin_notify_path %></li>
                                <li><%= link_to "Scrape News [Job]", admin_scrape_news_path %></li>
                                <li><%= link_to "GovwinIQ Load [Job]", admin_get_export_path %></li>
                                <li><a>Programs*</a></li>
                                <li><a>Accounts/Campaigns*</a></li>
                            </ul>
                        </li>
                    <% end %>
                <li><%= link_to "Logout", logout_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li>
                <%= form_tag filter_opportunities_path, class: "navbar-search" do |f| %>
                    <%= hidden_field_tag "button_action", "Search" %>
                    <%= search_field_tag "search", nil, placeholder: "Search", class: "search-query" %>
                <% end %>
                </li>
            <% else %>
                <li><%= link_to "Login", login_path %></li>
            <% end %>
            <% if Rails.env == "development" %>
                <li>
                <%#= switch_user_select %>
                </li>
            <% end %>
        </ul>
        <% if logged_in? %>
            <p class="navbar-text pull-right">Logged in as <%= link_to "#{current_user.name}", user_path(current_user) %></p>
        <% end %>
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row">
        <% if logged_in? %>
        <div class="span3">
            <div class="sidebar-nav well">
                <h5>Recent Items</h5>
                <ul><% unless current_user.recently_viewed.nil?
                    current_user.recently_viewed.split("^").reverse.each do |item|
                        item_id, item_title = item.split("|") %>
                  <li><%= link_to item_title, opportunity_path(item_id) %></li>
                    <% end
                    end %>
                </ul>
                <h5>Upcoming Tasks (<%= "#{@upcoming_tasks.length}"%>)</h5>
                <ul>
                    <% @upcoming_tasks.each do |t| %>
                        <li><%= link_to t.name, edit_task_path(t), remote: true %></li>
                    <% end %>
                    <div id="tasks-form" class="modal hide"></div>
                </ul>
                <h5>Sidebar</h5>
                <ul>
                  <li><%= link_to "Report a bug or feature", new_issue_path, remote: true %><div id="bug-popup" class="modal hide"></div></li>
                </ul>
            </div>
        </div>
        <% end %>

        <div class="offset3">
            <% flash.each do |key, msg| %>
                <%= content_tag :div, class: "alert alert-#{key}", id: "notice_#{key}" do %>
                    <%= msg %>
                    <a class="close" data-dismiss="alert">×</a>
                <% end %>
                <%= content_tag :script, :type => "text/javascript" do -%>
                setTimeout("$('#notice_<%= key %>').slideUp('slow');", 8000);
                <% end %>
            <% end %>

            <%= yield %>

        </div>
        </div>
        <hr/>
        <footer>
            <p>&copy; Scott Hoge/QBE LLC 2012</p>
        </footer>
    </div>

</body>
</html>
