<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag 'jquery.min','jquery-ui.min','jquery.wijmo-open.1.1.2.min','rails','application' %>
	<%= csrf_meta_tag %>
</head>
<body>
		<%= render 'layouts/header' %>
		<section>
				<%= render 'layouts/menu' %>

				<% flash.each do |key, msg| %>
				    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
				    <%= content_tag :script, :type => "text/javascript" do -%>
				        setTimeout("$('#notice_<%= key %>').slideUp('slow');", 5000);
				    <% end %>
				<% end %>
 
				<%= yield %>
		</section>
</body>
</html>
